VERSION 3.9.5

EXPERIMENT-NAME topo

SIMULATION-TIME 20S

SEED 0 

SUBNET N16-0 {1 thru 9}

NODE-PLACEMENT FILE

NODE-POSITION-FILE ./topo.nodes

PROPAGATION-SHADOWING-MODEL NONE

MAC-802.11-RTS-THRESHOLD  10000

APP-CONFIG-FILE ./topo-spp.app

COORDINATE-SYSTEM    CARTESIAN

TERRAIN-DIMENSIONS   (8000, 8000)

# Link bandwidth in bits per second (bps).
LINK-BANDWIDTH              112000

# Link propagation delay for wired point-to-point links is specified below.
# Propagation delay for wireless point-to-point links is based on distance.
LINK-PROPAGATION-DELAY      50MS

MOBILITY   NONE
MOBILITY-POSITION-GRANULARITY   1.0

FAULT-CONFIG-FILE topo-multi.fault

###############################################################################
# Channel properties                                                          #
###############################################################################

PROPAGATION-CHANNEL-FREQUENCY 5.2e9 # required
#PROPAGATION-CHANNEL-FREQUENCY[0] 2.4e9 # multi channel example
#PROPAGATION-CHANNEL-FREQUENCY[1] 2.5e9

PROPAGATION-LIMIT   -111.0
#PROPAGATION-LIMIT[1]   -111.0

# PROPAGATION-PATHLOSS-MODEL  TWO-RAY
# PROPAGATION-PATHLOSS-MODEL[1]  TWO-RAY
PROPAGATION-PATHLOSS-MODEL  FREE-SPACE
# PROPAGATION-PATHLOSS-MODEL  ITM
#
# PROPAGATION-PATHLOSS-MODEL  PATHLOSS-MATRIX
# Name of the file which defines the path loss matrix
# PROPAGATION-PATHLOSS-MATRIX-FILE   <pathloss matrix file> 

# PROPAGATION-SHADOWING-MODEL:
#
#   NONE:      no shadowing
#              (for any path loss model considering shadowing)
#   CONSTANT:  constant shadowing effect
#   LOGNORMAL: log-normal shadowing
#
#   PROPAGATION-SHADOWING-MEAN (in dB) to set the mean shadowing value
#
# PROPAGATION-SHADOWING-MODEL LOGNORMAL

#XXX: replace with lognormal
#PROPAGATION-SHADOWING-MODEL NONE
#PROPAGATION-SHADOWING-MEAN 4.0

#PROPAGATION-SHADOWING-MODEL LOGNORMAL
#PROPAGATION-SHADOWING-MEAN 4.0

# PROPAGATION-FADING-MODEL:
#
#   NONE:     no fading
#   RAYLEIGH: Rayleigh fading
#   RICEAN:   Ricean fading
#
#   For RAYLEIGH and RICEAN, the following variables are required:
#     PROPAGATION-FADING-GAUSSIAN-COMPONENTS-FILE:
#       File that stores series of gaussian components
#     PROPAGATION-FADING-MAX-VELOCITY:
#       Maximum velocity of any objects on the terrain
#     PROPAGATION-RICEAN-K-FACTOR (RICEAN only):
#       Ricean K factor (linear value)
#

PROPAGATION-FADING-MODEL NONE
# PROPAGATION-FADING-MODEL RAYLEIGH
# PROPAGATION-FADING-MODEL RICEAN
# PROPAGATION-RICEAN-K-FACTOR 0.0
#
# PROPAGATION-FADING-MAX-VELOCITY 10.0
# PROPAGATION-FADING-GAUSSIAN-COMPONENTS-FILE ./default.fading

###############################################################################
# Phy layer                                                                   #
###############################################################################

#########################################
#
# PHY-MODEL: phy model to transmit and receive packets
#   PHY802.11a:     IEEE 802.11a PHY
#   PHY802.11b:     IEEE 802.11b PHY
#   PHY-ABSTRACT:   An abstract PHY
#   FCSC-PROTOTYPE: FCSC Comms prototype PHY
#

#PHY-MODEL                   PHY802.11b
PHY-MODEL                   PHY802.11a
# PHY-MODEL                   PHY-ABSTRACT
# PHY-MODEL                   FCSC-PROTOTYPE

PHY-LISTENABLE-CHANNEL-MASK 1
PHY-LISTENING-CHANNEL-MASK  1

#
# PHY-TEMPERATURE: temperature of the phy model (in K)
#
PHY-TEMPERATURE             290

#
# PHY-NOISE-FACTOR: noise factor used to calculate thermal noise level
#                   of the phy model
#
PHY-NOISE-FACTOR            7.0

PHY-RX-MODEL                PHY802.11a
# PHY-RX-MODEL-USE-SNR-THRESH 2.5

#
# PHY802.11-AUTO-RATE-FALLBACK  YES | NO
#
PHY802.11-AUTO-RATE-FALLBACK NO

#
# PHY-ABSTRACT-DATA-RATE phy data rate (in bps)
#

# PHY-ABSTRACT-DATA-RATE  64000

#
# PHY802.11-DATA-RATE: phy data rate (in bps)
#
PHY802.11-DATA-RATE                6000000
PHY802.11-DATA-RATE-FOR-BROADCAST  6000000

#
# PHY-ABSTRACT-TX-POWER    phy transmission power (in dBm)
#

# PHY-ABSTRACT-TX-POWER    30.0

#
# PHY802.11?-TX-POWER-*: phy transmission power (in dBm)
#

#Changed by Yi Li
PHY802.11a-TX-POWER--6MBPS  10.0
PHY802.11a-TX-POWER--9MBPS  10.0
PHY802.11a-TX-POWER-12MBPS  10.0
PHY802.11a-TX-POWER-18MBPS  10.0
PHY802.11a-TX-POWER-24MBPS  10.0
PHY802.11a-TX-POWER-36MBPS  10.0
PHY802.11a-TX-POWER-48MBPS  10.0
PHY802.11a-TX-POWER-54MBPS  10.0

#PHY802.11a-TX-POWER--6MBPS  10.0
#PHY802.11a-TX-POWER--9MBPS  10.0
#PHY802.11a-TX-POWER-12MBPS  10.0
#PHY802.11a-TX-POWER-18MBPS  10.0
#PHY802.11a-TX-POWER-24MBPS  10.0
#PHY802.11a-TX-POWER-36MBPS  10.0
#PHY802.11a-TX-POWER-48MBPS  10.0
#PHY802.11a-TX-POWER-54MBPS  10.0

PHY802.11b-TX-POWER--1MBPS  15.0
PHY802.11b-TX-POWER--2MBPS  15.0
PHY802.11b-TX-POWER--6MBPS  15.0
PHY802.11b-TX-POWER-11MBPS  15.0

#
# PHY-ABSTRACT-RX-THRESHOLD   threshold of the phy (in dBm)
#

# PHY-ABSTRACT-RX-THRESHOLD    -85

#
# PHY-ABSTRACT-RX-SENSITIVITY sensitivity of the phy (in dBm)
#

# PHY-ABSTRACT-RX-SENSITIVITY   -95


#
# PHY802.11?-RX-SENSITIVITY-*: sensitivity of the phy (in dBm)
#
PHY802.11a-RX-SENSITIVITY--6MBPS  -85.0
PHY802.11a-RX-SENSITIVITY--9MBPS  -85.0
PHY802.11a-RX-SENSITIVITY-12MBPS  -83.0
PHY802.11a-RX-SENSITIVITY-18MBPS  -83.0
PHY802.11a-RX-SENSITIVITY-24MBPS  -78.0
PHY802.11a-RX-SENSITIVITY-32MBPS  -78.0
PHY802.11a-RX-SENSITIVITY-48MBPS  -69.0
PHY802.11a-RX-SENSITIVITY-54MBPS  -69.0

PHY802.11b-RX-SENSITIVITY--1MBPS  -93.0
PHY802.11b-RX-SENSITIVITY--2MBPS  -89.0
PHY802.11b-RX-SENSITIVITY--6MBPS  -87.0
PHY802.11b-RX-SENSITIVITY-11MBPS  -83.0



ANTENNA-GAIN             0.0
ANTENNA-EFFICIENCY       1.0
ANTENNA-MISMATCH-LOSS    0.3
ANTENNA-CABLE-LOSS       0.0
ANTENNA-CONNECTION-LOSS  0.2
ANTENNA-HEIGHT  1.5

ANTENNA-MODEL   OMNIDIRECTIONAL

# ARP-ENABLED    YES | NO
# ARP-USE-BUFFER  YES | NO
# ARP-STATIC-CACHE-FILE ./default.arp-static
# MAC-ADDRESS-CONFIG-FILE     ./default.mac-address

MAC-PROTOCOL MAC802.11
# MAC-DOT11-ASSOCIATION    NONE
# MAC-802.11-RTS-THRESHOLD                               100000
MAC-802.11-SHORT-PACKET-TRANSMIT-LIMIT               1000
MAC-802.11-LONG-PACKET-TRANSMIT-LIMIT                1000

PROMISCUOUS-MODE   YES

NETWORK-PROTOCOL   IP

IP-QUEUE-NUM-PRIORITIES   3

IP-QUEUE-PRIORITY-QUEUE-SIZE   50000

IP-QUEUE-TYPE   FIFO

GREEN-PROFILE-MIN-THRESHOLD        10
GREEN-PROFILE-MAX-THRESHOLD        20
GREEN-PROFILE-MAX-PROBABILITY      0.02
YELLOW-PROFILE-MIN-THRESHOLD       5
YELLOW-PROFILE-MAX-THRESHOLD       10
YELLOW-PROFILE-MAX-PROBABILITY     0.02
RED-PROFILE-MIN-THRESHOLD          2
RED-PROFILE-MAX-THRESHOLD          5
RED-PROFILE-MAX-PROBABILITY        0.02

IP-QUEUE-SCHEDULER   STRICT-PRIORITY
# IP-QUEUE-SCHEDULER   WEIGHTED-FAIR
# IP-QUEUE-SCHEDULER   SELF-CLOCKED-FAIR
# IP-QUEUE-SCHEDULER ROUND-ROBIN
# IP-QUEUE-SCHEDULER WEIGHTED-ROUND-ROBIN

# IP-QUEUE-SCHEDULER CBQ
# CBQ-GENERAL-SCHEDULER PRR
# CBQ-GENERAL-SCHEDULER WRR
# CBQ-LINK-SHARING-GUIDELINE ANCESTOR-ONLY
# CBQ-LINK-SHARING-GUIDELINE TOP-LEVEL
# CBQ-TOP-LEVEL 3

# QUEUE-WEIGHT[0] 0.5
# QUEUE-WEIGHT[1] 0.3
# QUEUE-WEIGHT[2] 0.2

###############################################################################
# Routing - forwarding, static, default routes                                #
###############################################################################

IP-FORWARDING YES
OPROUTING NO
MULTI-RATE-POWER YES
POWER-FILE topo.power

STATIC-ROUTE YES
STATIC-ROUTE-FILE topo.route-static

COMPRESS-MULTICAST-ROUTE YES
SPP-MULTICAST-ROUTE-FILE topo.route-spp-multicast

SCHEDULER-QUEUE-TYPE            SPLAYTREE

###############################################################################
# Statistics                                                                  #
###############################################################################

#
# The following parameters determine if you are interested in the
# statistics of a single or multiple layer.  By specifying the following
# parameters as YES, the simulation will provide you with statistics for
# that particular layer.  All the statistics are compiled together into
# a file called "qualnet.stat" that is produced at the end of the simulation.
# If you need the statistics for a particular node or particular protocol,
# it is easy to do the filtering.  Every single line in the file is of
# the following format:
#
# Node:      9, Layer:  PhyNoCapture, Total number of collisions is 0
#

HOST-STATISTICS                         NO
APPLICATION-STATISTICS                  YES
TCP-STATISTICS                          YES
UDP-STATISTICS                          YES
RSVP-STATISTICS                         NO
ROUTING-STATISTICS                      YES
ACCESS-LIST-STATISTICS                  NO
ROUTE-REDISTRIBUTION-STATISTICS         NO
IGMP-STATISTICS                         NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS    YES
NETWORK-LAYER-STATISTICS                YES
DIFFSERV-EDGE-ROUTER-STATISTICS         NO
QUEUE-STATISTICS                        YES
MAC-LAYER-STATISTICS                    YES
PHY-LAYER-STATISTICS                    YES
MOBILITY-STATISTICS                     NO

